<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to 'ホーム', topics_path %>
                </li>
                <% unless user_signed_in? %>
                <li>
                    <%= link_to '管理ユーザー登録', new_user_registration_path %>
                </li>
                <li>
                    <%= link_to '管理ユーザーログイン', new_user_session_path %>
                </li>
                <% else %>
                <li>
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %>
                </li>
                <% end %>
                <li>
                    <%= link_to '削除依頼', delrequests_path, method: :get  %>
                </li>
            </ul>
            <nav>
    </div>
</header>