
  <h1>BBS</h1>
  <%= link_to 'ホーム', topics_path %>
<% unless user_signed_in? %>
<%= link_to '管理ユーザー登録', new_user_registration_path %>
<%= link_to '管理ユーザーログイン', new_user_session_path %>
<% else %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %>
<% end %>

<br>
<br>
<br>

<div class="col-xs-12 col-sm-6 col-md-7">
<table>
  <tbody>
    <%= will_paginate %>
    <div class="topic_table">
    	
    




    <% @topics.each do |topic| %>
    

      <tr class="topicshow">
      	<td class="center-block">
          <%= link_to topics_show_path(topic.id) do %>
            <b><%= topic.title %></b>
            <%= topic.name %>
            <%= topic.created_at %>
          <% end %>
        </td>
      	<td class="center-block"><% if topic.image? %><%= link_to topics_show_path(topic.id) do %><%= image_tag topic.image.url %><% end %><% end %></td>
        <td class="center-block"><%= link_to topics_show_path(topic.id) do %><%= topic.content.truncate(50) %><% end %></td>
        <% if user_signed_in? %>
        <td class="center-block"><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td class="center-block"><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
    </div>
    <%= will_paginate %>

  </tbody>
</table>
</div>
<br>
<div class="col-xs-12 col-sm-6 col-md-5 topicform fixed-right">
	  	  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= render 'form', topic: @newtopic %>
</div>