<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    	        <div class="searchform">
            <ul>
                <li>
                	<p>！お知らせ！</p>
                </li>
                <li>
                	書いたものを消したい人は管理ユーザ登録してください。
                	登録がめんどくさい人は削除依頼を出しておけば、そのうち管理人が消します。
                </li>
            </ul>
        </div>
        <div class="searchform">
            <ul>
                <li>
                    <%= form_tag(topics_path,:method => 'get') do %>
                    スレッドのタイトルとか内容で検索できるよ。
                    <%= text_field_tag :search , params[:search] %>
                    <%= submit_tag '検索', :title => nil , :content => nil%>
                    <% end %>
                </li>
            </ul>
        </div>
        <% @topics.each do |topic| %>
        <table class="table table-condensed table-hover">
            <tbody>
                <tr onclick='window.location="<%= '/topics/' + topic.id.to_s %>"' role="link" class="topicshow">
                    <td colspan="2">
                        <b>
                            <%= topic.title %></b>
                        <%= topic.name %>
                        <%= topic.created_at %>
                    </td>
                </tr>
                <tr onclick='window.location="<%= '/topics/' + topic.id.to_s %>"' role="link" class="topicshow">
                    <% if topic.image? %>
                    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <%= image_tag topic.image.url %>
                    </td>
                    <% end %>
                    <td colspan="2">
                        <%= simple_format(topic.content.truncate(50)) %>
                    </td>
                </tr>
                <% if user_signed_in? %>
                <tr class="topicshow">
                    <td>
                        <%= link_to 'Edit', edit_topic_path(topic) %>
                    </td>
                    <td>
                        <%= link_to 'Destroy', topic, method: :delete, data: { confirm: '削除しますか?' } %>
                    </td>
                </tr>
            </tbody>
            <% end %>
        </table>
        <% end %>
            <%= will_paginate previous_label: '&lt 前へ', next_label: '次へ &gt'%>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topicform">
            <p class="notice">
                <%= notice %>
            </p>
            <p class="alert">
                <%= alert %>
            </p>
            <p>スレッドを立てたい人はこちらを使ってください。</p>
            <p>内容は1000文字まで入力できます。</p>
            <%= render 'form', topic: @newtopic %>
        </div>
    </div>
    <br>
</div>
