<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<% if @topic.image? %>
  <%= image_tag @topic.image.url %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @topic.content %>
</p>


<%= render 'posts/index' %>

<%#= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>