<h1><%= link_to 'よつばちゃんねる', topics_path %></h1>
  <%= link_to 'ホーム', topics_path %>
<% unless user_signed_in? %>
<%= link_to '管理ユーザー登録', new_user_registration_path %>
<%= link_to '管理ユーザーログイン', new_user_session_path %>
<% else %>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete  %>
<% end %>
<%= link_to '削除依頼', delrequests_path, method: :get  %>
