<%= form_with(model: delrequest, local: true) do |form| %>
  <% if delrequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delrequest.errors.count, "error") %> prohibited this delrequest from being saved:</h2>

      <ul>
      <% delrequest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :消したいURLを書いてください %>
    <%= form.text_field :address, id: :delrequest_address, class: :"form-control"  %>
  </div>

  <div class="field">
    <%= form.label :トピックを消したい場合はトピックと書いてください %>
    <%= form.label :コメントを消したい場合はコメントのidを書いてください %>
    <p>Ex:トピックの場合 http://192.168.33.10:3000/topics/7　のトピック</p>
    <p>Ex:コメントの場合 http://192.168.33.10:3000/topics/7　のコメントの5</p>

    <%= form.text_field :del_id, id: :delrequest_del_id, class: :"form-control"  %>
  </div>

  <div class="field">
    <%= form.label :消したい理由を書いてください %>
    <%= form.label :消したい理由は1000文字まで入力できます。 %>
    <%= form.text_area :reason, id: :delrequest_reason, class: :"form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
